html,
body {
  margin: 0;
  font-family: "Inter", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  color: #272933;
  box-sizing: border-box;
  padding: 0;
  height: fit-content;
}

.custom-table {
  table-layout: fixed;
  width: 100%;
}

.custom-table th,
.custom-table td {
  width: calc(100% / 4); /* Adjust the value based on the number of columns */
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  flex-grow: 1;
  overflow-y: auto;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
.wrapper {
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0;
}
.container-inner {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 10px 40px;
  box-sizing: border-box;
}

/* ===PAGES=== */
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 10px;
}

/* ===HEADER=== */
.header {
  border-bottom: 1px solid #e7eaf2;
  margin-bottom: 100px;
  width: 100%;
}

.header__wrap {
  display: flex;
  flex-wrap: wrap;
}

.header__left {
  display: flex;
  width: 100px;
  flex-wrap: nowrap;
  align-items: center;
}

.logo {
  background: #f07048;
  width: 64px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 48px;
  flex-wrap: nowrap;
  align-items: center;
  height: 64px;
  width: 100%;
}

.accountMenu {
  margin-right: 10px;
  height: 20px;
  display: flex;
  text-align: right;
  padding: 16px 0;
  order: initial;
  margin-top: 0;
}

.btnExit {
  display: flex;
  margin: auto;
  align-items: center;
  width: 100%;
  padding: 11px 25px;
}

.btnExit:hover {
  color: #eb5a50;
  background: #ffedec;
  border-radius: 6px;
  padding: 11px 25px;
}

.btnExit:hover svg {
  color: #eb5a50;
}

.link {
  padding: 20px 0;
  flex: initial;
  text-align: center;
}

.dropdown {
  width: fit-content;
}

/* ===SIGN IN and SIGN UP */
.auth_header {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 30px;
  margin: 10px 0 24px;
}

.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signIn,
.signUp,
.forgot {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  min-height: 100vh;
}
.btn,
.valid,
.formChange__valid {
  background: #eceff4;
  border-radius: 6px;
  width: 100%;
  border: none;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #aaabb6;
  padding: 16px 0;
}
.valid {
  background: #f07048;
  color: #ffffff;
}
.formChange__valid {
  background: #272933;
  color: #ffffff;
}

.error {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.error .avatar {
  margin-bottom: 10px;
}

.DailyStats {
  display: flex;
  gap: 24px;
}

.DailyStats__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tab-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.date-block {
  display: flex;
  gap: 12px;
  margin-right: 10px;
  margin-bottom: 16px;
}

.date-block .MuiSvgIcon-root {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

/* Adjust the icon size for small screens if needed */

.view-block {
  margin-bottom: 16px;
  margin-right: 12px;
}

.btn-download {
  display: flex;
  align-items: center;
  padding: 14px 20px 14px 45px;
  background: #e7eaf2 url(/public/images/download.svg) no-repeat 10% center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 16px;
}

.chart {
  width: 100%;
  border-radius: 8px;
  height: auto;
}

.radio-block {
  border: 1px solid #e7eaf2;
  border-radius: 6px;
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737486;
  overflow: hidden;
}
.label {
  padding: 13px 20px;
  display: inline-block;
  cursor: pointer;
}
.selected {
  background: #e7eaf2;
  color: #272933;
  padding: 15px 20px;
}
input[type="radio"] {
  display: none;
}
.no_data {
  font-weight: 600;
  line-height: 36px;
  margin-bottom: 50px;
  text-align: center;
  margin-top: 50px;
}

/* Styles for 1440px screen size */
@media screen and (max-width: 1440px) {
  html,
  body {
    max-width: 1440px;
  }
}

/*Styles for 1024px screen size */
@media screen and (max-width: 1024px) {
  html,
  body {
    max-width: 1024px;
  }
}

/* Styles for 768px screen size */
@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 768px;
  }
  .date-block .MuiSvgIcon-root {
    font-size: 20px;
  }
  .btn-download {
    width: 20px;
    height: 20px;
    color: transparent; /* Hides the text */
    padding: 14px; /* Adjusts the padding to center the icon */
    background-position: center; /* Centers the background image (icon) */
  }
}

@media (max-width: 700px) {
  .logo-main {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .signIn,
  .signUp,
  .forgot {
    grid-template-columns: 1fr;
  }
  .video-background-container {
    display: none;
  }
}

/*!* Styles for 360px screen size *!*/
@media screen and (max-width: 360px) {
  html,
  body,
  .container,
  .container-inner {
    max-width: 360px;
  }
  .dropdown {
    padding-right: 5px;
  }
  p {
    font-size: 12px;
  }
  .date-block,
  .btn-download {
    font-size: 12px;
  }

  .title {
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
  }
}

.google-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add scrollbars when content exceeds height */
}

.sensor-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.sensor-table th,
.sensor-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.sensor-table th {
  background-color: #f2f2f2;
}

.sensor-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.loading-container {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
