.video-background-container {
    position: relative;
    height: calc(100vh - 40px); /* Full height minus padding */
    padding: 20px; /* Adding padding */
    box-sizing: border-box; /* Ensures padding is included in height calculation */
    overflow: hidden; /* Hide scrollbars */
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover; /* Cover the container while maintaining aspect ratio */
    z-index: -1; /* Place the video behind the text */
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    font-size: 18px; /* Default text size */
}

/* Media queries for responsive text size */
@media (max-width: 1200px) {
    .centered-text {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .centered-text {
        font-size: 12px;
    }
}