.infoStation__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.infoStation__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background: #e7eaf2 url(/public/images/edit-icon.svg) no-repeat 12% center;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: 10px 20px 10px 42px;
}

.infoStation__body {
  overflow-x: auto; /* Enable horizontal scrolling for the body container */
}

.infoStation__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 24px 16px;
  border-bottom: 1.6px solid #e7eaf2;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  word-break: break-word; /* Break words to prevent overflow */
}

.infoStation__row p:first-child {
  color: #737486;
}

@media (max-width: 700px) {
  .infoStation__row {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .infoStation__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    padding: 10px 20px 10px 42px;
  }
}
