.infoEmployees__content-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  padding: 24px 16px;
  border-bottom: 1px solid #e7eaf2;
  gap: 8px;
}
.infoEmployees__row {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 24px 16px;
  border-bottom: 1px solid #e7eaf2;
  gap: 8px;
  text-align: center;
}
.infoStation__row p {
  overflow-wrap: break-word; /* Wrap the content within the paragraphs */
}
.infoEmployees__row div {
  text-align: center;
}

.infoEmployees__btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 24px;
}
.accountInfo__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  border: none;
  background: none;
  cursor: pointer;
}

.modal-delete-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  margin-bottom: 40px;
}
.btn-block {
  display: flex;
  width: 100%;
  gap: 12px;
}

.modal {
  align-items: center;
  justify-content: space-between;
}

.modal-delete-btn {
  border-radius: 6px;
  border: none;

  flex-basis: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
}

.modal-delete-btn:last-child {
  background: #eb5a50;
  color: #ffffff;
}
.modal-delete-btn:last-child:hover {
  background: #cd453c;
}
.btn-add-new-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 32px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

@media (max-width: 700px) {
  .infoEmployees__btn {
    margin-left: 12px;
  }
}

@media (max-width: 600px) {
  .infoEmployees__content-header {
    grid-template-columns: 80px 80px 90px 1fr;
    text-align: center; /* Center align the content */
  }
  .infoEmployees__content-header p {
    overflow-wrap: break-word;
  }

  .infoEmployees__row p {
    overflow-wrap: break-word; /* Wrap the content within the paragraphs */
  }
}

@media (max-width: 400px) {
  .infoEmployees__content-header {
    font-size: 12px;
  }
  .infoEmployees__row {
    grid-template-columns: 100px 100px 100px;
    font-size: 14px;
  }
  .accountInfo__btn {
    font-size: 14px;
  }
  .infoEmployees__btn img{
    width: 15px;
  }

}
