.widget {
  background: rgba(243, 245, 250, 0.4);
  border: 1px solid #e7eaf2;
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 16px;
}

.widget__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  margin-bottom: 4px;
}

.widget__data {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #272933;
}
.widget__date {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .widget__title {
    font-size: 14px;
  }

  .widget__data {
    font-size: 16px;
  }
  .widget__date {
    font-size: 12px;
  }
}
