.forgot__wrap {
  background: #ffffff;
  min-width: 330px;
}
.forgot__content {
  padding: 100px 48px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
}
.forgot__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.forgot__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  width: 90%;
  text-align: left;
}

.line {
  background: #e7eaf2;
  height: 1px;
  width: 65%;
  margin: 52px auto 32px auto;
  display: block;
}

.forgot__footer {
  text-align: center;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 4px;
}

.link_register {
  color: #f07048;
}
.forgot__subtitle-footer,
.link_register {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.forgot__btnWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}
