
.signUp__wrap {
	background: #FFFFFF;

}
.signUp__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 48px;
	margin-bottom: 16px;
	text-align: left;
}

.sighUp__subtitle {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
	width: 90%;
	text-align: left;
}
.btnNext,
.btnOrange {
	background: #272933;
	border-radius: 6px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	width: 100%;
	padding: 16px 0;
	cursor: pointer;
	border: none;
}
.btnWrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 40px;
	margin-top: 40px;
}
.btnOrange {
	background: #F07048;
	cursor: pointer;
}
.signUp__footer {
	text-align: center;
	margin-top: 32px;
	display: flex;
	justify-content: center;
	gap: 4px;
}

.link_register {
	color: #F07048;
}
.sighUp__subtitle-footer,
.link_register {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}
.political {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-top: 48px;

}
.political p {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #848484;
}
.political a { 
	border-bottom: 1px solid #848484;
}
.btnBack {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #737486;
	border: none;
	display: flex;
	background: none;
	cursor: pointer;
}

.MuiOutlinedInput-notchedOutline {
  border-width: 0 !important;
}
.selectPlaceholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #A1A1A2;
}
