.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.error-title {
  margin-bottom: 20px;
  font-weight: bold !important;
  font-family: Arial, sans-serif;
  color: black;
}

.error-subtitle {
  margin-bottom: 32px;
  font-family: Arial, sans-serif;
  color: #666;
}

.button {
  font-family: Arial, sans-serif;
  text-transform: none;
  font-weight: bold;
  font-size: 1rem;
}

.error-img {
  width: 100%;
}
