.cardMeteodata {
  background: rgba(243, 245, 250, 0.4);
  border: 1px solid #e7eaf2;
  border-radius: 8px;
  height: fit-content;
  margin-bottom: 16px;
}
.cardMeteodata__header {
  padding: 20px 24px;
  border-bottom: 1px solid #e7eaf2;
}

.cardMeteodata__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.cardMeteodata__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cardMeteodata__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardMeteodata__category {
  color: #737486;
}

@media (max-width: 768px) {
  .cardMeteodata {
    height: auto;
  }
  .cardMeteodata__content {
    font-size: 14px;
  }
  .cardMeteodata__title {
    font-size: 16px;
  }
}
