.form-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 20px;
}

.input {
  background: #f3f5fa;
  border-radius: 6px;
  border: none;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
}

@media (max-width: 767px) {
  .form-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .input {
    font-size: 14px;
    line-height: 20px;
  }
  .input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }
}
