.ModalSetStation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.ModalSetStation__closeButton {
  display: flex;
  justify-content: flex-end;
}
.ModalSetStation__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  padding-right: 16px;
}
.form-open {
  height: 220px; /* Adjust the desired height */
  transition: height 0.3s ease; /* Add transition effect */
}

.ModalSetStation__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
  margin-bottom: 16px;
}
.ModalSetStation__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.btn-setStation {
  display: block;
  width: 100%;
  background: #f07048;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 16px 0;
  margin-top: 20px;
  cursor: pointer;
}
