.export__radio-block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-right: 0;
}
.export__selected,
.export__label {
  flex-basis: 33%;
  text-align: center;
}
.export__data {
  height: 127px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.export__data-head {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  /* Add any other existing styles for this class here */
}

.export__data-body,
.export__body-child {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  /* Add any other existing styles for this class here */
}

.MuiFormControlLabel-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* Add any other existing styles for this class here */
}

.MuiFormControlLabel-root {
  margin-right: 8px; /* Adjust this value based on your needs */
}

@media (max-width: 767px) {
  .export__selected,
  .export__label {
    font-size: 12px;
    /* Add any other existing styles for this class here */
  }
  .MuiFormControlLabel-label {
    font-size: 14px;
    line-height: 20px;
    /* Add any other existing styles for this class here */
  }
}
