.chart-container {
  position: relative;
  height: 45vh;
  width: 100%;
}

.diagram {
  padding: 32px;
  height: 100%;
}

.diagram__header {
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-wrap: wrap;
}

.diagram__select__container {
  margin-left: auto;
  position: relative;
  display: inline-block;
}
.diagram__select {
  background: #e7eaf2;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
}
.diagram__header-info,
.header-title-bar {
  display: flex;
  text-align: center;
  gap: 20px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.diagram__header-title {
  display: flex;
  flex-wrap: wrap;
}
.diagram__header-title div {
  display: flex;
  text-align: center;
  margin-bottom: 2px;
}
.diagram__header-title p {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.diagram__line {
  width: 24px;
  height: 2px;
  margin: 0;
  margin-right: 8px;
  margin-top: 10px;
}
.diagram__title-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #737486;
}

.select__menu {
  background: #ffffff;
  border: 1px solid #e7eaf2;
  box-shadow: -16px 16px 48px rgba(169, 171, 184, 0.24);
  border-radius: 8px;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  width: 200px;
  top: 40px;
  right: 0;
  z-index: 1;
}
.select__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.wrap-diagram {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.lineY {
  margin: 0 0 10px 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737486;
}
.lineX {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737486;
  position: absolute;
  right: 0;
  bottom: -20px;
}
.plane {
  background: #a9abb8;
}
.fact {
  background: #f07048;
}
@media (max-width: 600px) {
  .chart-container {
    height: 30vh;
  }
}
@media (max-width: 400px) {
  .diagram__title-name {
    font-size: 12px;
  }
  .diagram__header-title p {
    font-size: 14px;
    line-height: 20px;
  }

  .diagram__select {
    font-size: 11px;
    padding: 8px;
  }
}
