.sighIn__wrap {
    background: #ffffff;
}

.sighIn__content {
    padding: 100px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signIn__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
}

.signIn__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.form__rememberMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.line {
    background: #e7eaf2;
    height: 1px;
    width: 65%;
    margin: 52px auto 32px auto;
    display: block;
}

.signIn__wrap-signUp {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .sighIn__content {
        padding: 100px 20px 20px;
    }
}